<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/adminLayout">
<section layout:fragment="fragment-content">
    <script>
        const token = $("meta[name='_csrf']").attr("content");
        const header = $("meta[name='_csrf_header']").attr("content");
        function userControl(username, process) {
            var process = process;
            $.ajax({
                url:'/process',
                type:'POST',
                data:{'username': username, 'process': process},
                dataType: 'json',
                beforeSend(xhr){
                  xhr.setRequestHeader(header, token);
                },
                success: function(result) {
                    var sendEmail = confirm("처리사유 이메일을 작성하시겠습니까?");
                    if (sendEmail)
                    location.href = "/admin/sendEmail?username=" + result.username + "&email=" +result.email;
                    else
                    location.reload();
                },
                error: function(result) {
                    alert(result);
                }
            });
        }

    </script>
    <form method="get" th:action="@{/admin/userControl}">
    <!--게시물-->
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title"><a th:href="@{/admin/userControl}">사용자 관리</a></h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm">
                            <!--검색-->
                                <select class="form-control" name="searchOption">
                                    <option  th:selected="${searchOption} =='username'" value="username">유저명</option>
                                    <option th:selected="${searchOption} =='regidate'" value="regidate">가입일</option>
                                    <option value="authority">권한</option>
                                    <option value="enabled">상태</option>
                                </select>
                            <!--검색-->
                            <input type="text" name="searchText" th:value="${searchText} ? ${searchText} : '' "
                                   class="form-control float-right" placeholder="Search">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-default">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>사용자명</th>
                            <th>이메일</th>
                            <th>권한</th>
                            <th>가입일</th>
                            <th>상태</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user: ${boardList}" th:class="${user.enabled}  ? '' : 'bg-danger'">
                            <td th:text="${user.username}"></td>
                            <td th:text="${user.email}"></td>
                            <td th:text="${user.authority}"></td>
                            <td th:text="${user.regidate}"></td>
                            <td th:text="${user.locked == 'nonLocked'}  ? '일반' : ${user.locked + '까지 정지'} "></td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default">정지/해제</button>
                                    <button type="button" class="btn btn-default dropdown-toggle dropdown-icon" data-toggle="dropdown">
                                        <span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" role="menu">
                                        <a class="dropdown-item" href="javascript:banned();">일반정지</a>
                                        <a class="dropdown-item" th:href="|javascript:userControl('${user.username}', 'banned')|">영구정지</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" th:href="|javascript:userControl('${user.username}', 'release')|">정지해제</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->

                <!--페이징-->
                <div class="card-footer clearfix">
                    <ul class="pagination pagination-sm m-0 float-right"
                        th:with="start=${T(Math).floor(boardList.number/10)*10 + 1},
                    last=(${start + 9 < boardList.totalPages ? start + 9 : boardList.totalPages})">
                        <li class="page-item">
                            <a class="page-link" th:href="${searchText} ? @{/admin/userControl(page=1, searchOption=${searchOption}, searchText=${searchText})} : @{/admin/userControl(page=1)}" aria-label="First">
                                <span aria-hidden="true">First</span>
                            </a>
                        </li>

                        <li th:class="${boardList.first} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href="${searchText} ? @{/admin/userControl(page=${boardList.number}, searchOption=${searchOption}, searchText=${searchText})} : @{/admin/userControl(page=${boardList.number})}" aria-label="Previous">
                                <span aria-hidden="true">&lt;</span>
                            </a>
                        </li>

                        <li class="page-item" th:each="page: ${#numbers.sequence(start, last)}" th:class="${page == boardList.number + 1} ? 'active'">
                            <a class="page-link" th:text="${page}" th:href="${searchText} ? @{/admin/userControl(page=${page}, searchOption=${searchOption}, searchText=${searchText})} : @{/admin/userControl(page=${page})}"></a>
                        </li>

                        <li th:class="${boardList.last} ? 'page-item disabled' : 'page-item'">
                            <a class="page-link" th:href="${searchText} ? @{/admin/userControl(page=${boardList.number + 2}, serchOption=${searchOption}, searchText=${searchText})} : @{/admin/userControl(page=${boardList.number + 2})}" aria-label="Next">
                                <span aria-hidden="true">&gt;</span>
                            </a>
                        </li>

                        <li class="page-item">
                            <a class="page-link" th:href="${searchText} ? @{/admin/userControl(page=${boardList.totalPages}, searchOption=${searchOption}, searchText=${searchText})} : @{/admin/userControl(page=${boardList.totalPages})}" aria-label="Last">
                                <span aria-hidden="true">Last</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--페이징-->
            </div>
            <!-- /.card -->
        </div>
    </div>
    <!-- /.row -->
    <!--게시물-->

    <br>

    </form>
</section>
</html>