<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
로그인
<div th:if="${error }">
    로그인에 실패했습니다. 아이디와 비밀번호를 확인해주세요.
</div>
<p>첫 방문이신가요? 여기서
<a th:href="@{/signup}">회원가입</a></p>

<form method="POST" th:action="@{/login}" id="loginForm">
<label for="username">아이디: </label>
<input type="text" name="username" ID="username" placeholder="아이디">
<label for="password">패스워드: </label>
<input type="password" name="password" id="password" placeholder="비밀번호">
    <input type="submit" value="로그인">
</form>
</body>
</html>