<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml"
      xmlns:th = "http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <div th:replace="/fragment/head.html :: fragment-head"></div>
    <title>관리자</title>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
<div th:replace="/fragment/preloader.html :: fragment-preloader"></div>
<nav>
    <div th:replace="/fragment/navbar.html :: fragment-navbar"></div>
</nav>
<aside>
    <div th:replace="/fragment/sidebar.html :: fragment-sidebar"></div>
</aside>
<!--content-->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div th:replace="/fragment/adminContentHeader.html :: fragment-adminContentHeader" ></div>
    <!-- /.content-header -->
    <section class="content" layout:fragment="fragment-content">

    </section>
</div>
<!-- /.content-wrapper -->
<!--content-->
<!-- Control Sidebar -->
<aside>
    <div th:replace="/fragment/controlSidebar.html :: fragment-controlSidebar"></div>
</aside>
<!-- /.control-sidebar -->
<footer>
    <div th:replace="/fragment/footer.html :: fragment-footer"></div>
</footer>

</div>
</body>
</html>