<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/userLayout">
<div layout:fragment="fragment-content">
    <script>
        $(document).ready(function(){
            $('#agreeTerms').on('click', function(){
                if ($("input:checkbox[id='agreeTerms']").is(":checked") === true)
                $('#termsModal').click();
            });
        });

        function checkUsername(){
            const username = $('#username').val();
            $.ajax({
                url:'/checkUsername',
                type:'GET',
                data:{'username': username},
                success: function(result) {
                    if (result === 'possible')
                        alert('사용 가능한 아이디입니다.');
                    else if (result === 'impossible')
                        alert('이미 사용중인 아이디입니다.');
                },
                error: function(result) {
                    alert(result);
                }
            });
        }

        function googleLogin(){
            window.location.replace("https://accounts.google.com/o/oauth2/v2/auth?" +
            "client_id=708353661169-rosg765p89ngke33huh87afj3ohhvh8j.apps.googleusercontent.com" +
            "&redirect_uri=http://localhost:9090/googleRegister" +
            "&response_type=code" +
            "&scope=email%20profile%20openid" +
                "&access_type=offline")
        }
    </script>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form method="POST" th:action="@{/register}" th:object="${registrationForm}" id="registerForm">
                    <div class="register-box m-auto">
                        <div class="register-logo">
                            <a href="../../index2.html"><b>Admin</b>LTE</a>
                        </div>

                        <div class="card">
                            <div class="card-body register-card-body">
                                <p class="login-box-msg">회원가입</p>

                                    <div class="input-group mb-3">
                                        <input type="text" id="username" class="form-control" th:field="*{username}" placeholder="아이디">
                                        <div class="input-group-append">
                                            <button onclick="javascript:checkUsername();" type="button" class="btn btn-info btn-flat">중복체크</button>
                                        </div>
                                    </div>
                                    <span class="text-danger"
                                          th:if="${#fields.hasErrors('username')}"
                                          th:errors="*{username}"Name Error></span>
                                    <span class="text-danger"
                                          th:if="${overlapError}"
                                          th:text="${overlapError}"></span>
                                    <div class="input-group mb-3">
                                        <input type="email" class="form-control" th:field="*{email}" placeholder="이메일">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-envelope"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <span class="text-danger"
                                          th:if="${#fields.hasErrors('password')}"
                                          th:errors="*{password}"Password Error></span>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" th:field="*{password}" placeholder="비밀번호">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <input type="password" class="form-control" th:field="*{confirm}" placeholder="비밀번호 확인">
                                        <div class="input-group-append">
                                            <div class="input-group-text">
                                                <span class="fas fa-lock"></span>
                                            </div>
                                        </div>
                                    </div>
                                <span class="text-danger"
                                      th:if="${#fields.hasErrors('confirm')}"
                                      th:errors="*{confirm}"Confirm Error></span>
                                <br th:if="${#fields.hasErrors('confirm')}"/>
                                    <span class="text-danger"
                                          th:if="${confirmError}"
                                          th:text="${confirmError}"></span>
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="icheck-primary">
                                                <input type="checkbox" id="agreeTerms" name="terms" value="agree">
                                                <label for="agreeTerms">
                                                    <a href="#" id="termsModal" data-toggle="modal" data-target="#modal-default">약관</a>에 동의합니다.
                                                </label>
                                            </div>
                                        </div>
                                        <!-- /.col -->
                                        <div class="col-4">
                                            <button type="submit" class="btn btn-primary btn-block">Register</button>
                                        </div>
                                        <!-- /.col -->
                                    </div>

                                <div class="social-auth-links text-center">
                                    <p>- OR -</p>
<!--                                    <a href="#" class="btn btn-block btn-primary">-->
<!--                                        <i class="fab fa-facebook mr-2"></i>-->
<!--                                        Sign up using Facebook-->
<!--                                    </a>-->
                                    <a href="javascript:googleLogin();" class="btn btn-block btn-danger">
                                        <i class="fab fa-google-plus mr-2"></i>
                                        구글로 가입하기.
                                    </a>
                                </div>
                                <a th:href="@{/login}" class="text-center">이미 계정이 있습니다.</a>
                            </div>
                            <!-- /.form-box -->
                        </div><!-- /.card -->
                    </div>
                    <!-- /.register-box -->
                </form>
            </div>

            <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">회원가입 약관</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>테스트 약관</p>
                        </div>
                        <div class="modal-footer justify-content-end">
                            <button  data-dismiss="modal" type="button" class="btn btn-primary">확인</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>
    </div>
</div>
</html>